body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	background: rgb(13, 13, 13);
}

table {
	margin: 50px;
	width: 100%;
}

th {
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
}

td {
	padding: 20px;
	color: #273b47;
	background: white;
}

table, th ,td {
	border-radius: 15px;
	border-collapse: collapse;
}

input, textarea {
	outline: 0;
}

input:focus, textarea:focus {
	background: lightgray
}

.logo {
	margin-top: 30px;
	margin-left: 35px;
	width: 330px;
}

.background {
	background-image: url("../imagenes/1.png");
	background-size: cover;
	padding-bottom: 30px;
}

.contenedor {
	margin: auto;
	margin-left: 35px;
}

.titulo {
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
	margin: 0;
	padding-top: 100px;
	color: wheat;
}

.resumen {
	font-size: 24px;
	margin-top:0;
	color: wheat;
	width: 400px;
	text-align: center;
	padding-top: 25px;
}

.background table { 
	margin-left: 90px;
  position: relative;
  top: 50px;
}

.portada {
	background-color: rgb(13, 13, 13);
	padding-bottom: 50px;
}

.header {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-right: 30px;
}

.menu a {
	text-decoration: none;
	color: wheat;
}

.buscador {
	text-align: center;
}

.but1 {
	border-radius: 5px;
	border: none;
	color:white;
	margin-top: 15px;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(to left, wheat, rgb(137, 100, 71) );
	margin-left: 10px;
}

.button1, .button2 {
	border-radius: 5px;
	border: none;
	background: rgb(210,168,117);
	color:white;
	margin-top: 15px;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(to left, rgb(210, 168, 117), rgb(137, 100, 71) )
}

.cocteles {
  color: #273b47;
}

.cocteles h2 {
	font-size: 35px;
	margin-left: 120px;
	background: white;
	border-radius: 15px;
	width: 350px;
	text-align: center;
}

.coctel {
	padding: 20px;
	font-size: 24px;
	border:2px solid #273b47;
	border-radius: 15px;
	overflow: hidden;
	width: 800px;
	margin: auto;
	margin-bottom: 30px;
	background-color: white;
}

.coctel h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	margin-top: 0px;
}

.coctel1  {
	float: right;
	position: relative;
  right: 85px;
}
.coctel2  {
	float: left;
	position: relative;
  left: 60px;
}

.contenedor1 {
	padding-left: 20px;
	margin-left: 80px;
  margin-top: 25px;
}

.contenedor2 {
	margin-left: 330px;
	}

.ccs {
	padding-left: 95px;
}

.footer {
	background: #273b47;
	margin-top: 30px;
}

.contacto img {
	display: block;
	padding-top: 50px;
}

.contacto {
	display: flex;
	width: 400px;
	flex-wrap: wrap;
	align-items: center;
}

.contacto strong {
	display: block;
}

.contacto a {
	font-family: 'Montserrat', helvetica;
	font-size: 20px;
	color: white;
	text-decoration:none;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-between;
	max-width: 950px;
	margin: auto;
	padding-left: 35px;
}

.formulario {
	display: flex;
	width: 500px;
	color: white;
}

.formulario label {
	margin-top: 5px;
	margin-bottom: 10px;
}

.formulario input {
	margin-bottom: 15px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 20px;
}

.col2 {
	align-items: flex-start;
	margin-top: 60px;
}

.col2 .button {
	margin-top: 15px;
}

.intereses label {
	font-size: 14px;
}

.cont {
	color: white;
	display: flex;
}

@media screen and (max-width: 1130px) {
	/*Portada*/
	.logo {
		width: auto;
		margin: 0;
	}
	.header {
		width: 807px;
		position: static;
		padding-left: 5px;
	}
	.buscador {
		margin-bottom: 20px;
		margin-left: 0;
	}
	.but1 {
		margin-top: 5px;
	}
	/*Portada*/
	/*Background*/
	.background {
		width: 807px;
	}
	.titulo {
		font-size: 45px;
		padding-top: 30px;
	}
	.resumen {
		font-size: 16px;
	}
	.portada {
		padding-bottom: 0;
	}
	.portada .button1 {
		margin-bottom: 30px;
		display: inline-block;
	}
	/*background*/
	/*Cocteles*/
	.contenedor {
		max-width: 800px;
		width: auto;
	}
	.cocteles h2 {
		margin-left: 200px;
	}
	/*Cocteles*/
	/*Footer*/
	.footer {
		width: 807px;
	}
	.contacto {
		width: 300px;
		margin-left: 0px;
	}
	.contacto img {
		max-width: 300px;
	}
	.coctel {
		width: 680px;
	}
	.formulario {
		width: 400px;
		margin-right: 35px;
	}
	/*Footer*/
}

@media screen and (max-width: 380px) {
	/*portada*/
	.logo {
 		width: 380px;
 	}
 	.header {
 		width: 380px;
 	}
 	.menu ul {
 		padding: 0;
	 }
 	.menu li {
	 	padding-bottom: 3px;
 		border-bottom: 1px solid wheat;
 		text-align: center;
	 	display: block;
	 }
 	/*portada*/
 	/*Background*/
 	.background {
 		width: 380px;
 		background-size: 380px;
 	}
 	.contenedor {
 		margin-left: 20px;
 	}
 	.titulo {
 		font-size: 24.5px;
	}
	.resumen {
		font-size: 12px;
		text-align: left;
		padding-top: 5px;
		width: 190px
	}
	.button1 {
		font-size: 12px;
	}
	/*Background*/
	/*Cocteles*/
	.cocteles h2 {
		font-size: 25px;
		width: 250px;
		margin-left: 32px;
	}
	.contenedor {
		max-width: 380px;
		padding-left: 0;
	}
	.coctel {
		width: 280px;
		font-size: 14px;

	}
	.coctel1 {
		height: 266px;
		width: 200px;
		float: none;
		padding-left: 40px;
		position: static;
	}
	.contenedor1, .contenedor2 {
		text-align: center;
		padding: 0;
		margin: 0;
	}
	.coctel h3 {
		text-align: center;
		font-size: 24px;
		margin: 10px;
	}
	.contenedor1 ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.coctel2 {
		float: none;
		position: static;
		width: 200px;
		padding-left: 40px;
	}
	.ccs {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	/*Cocteles*/
	/*Footer*/
	.footer {
		width: 380px;
	}
	.footer .contenedor {
		padding-left: 0;
		display: block;
		width: 380px;
	}
	.contacto {
		margin: 0 auto;
	}
	.formulario {
		display: block;
		width: 380px;
		margin: 0 40px;
	}
	.col1 .col2 {
		margin: 0 40px;
	}
	.col1 {
		margin-right: 80px;
	}
	.intereses{
		width: 190px;
	}		
	.col2 {
		margin-top: 0;
	}
	.col2 textarea {
		padding-right: 60px;

	}
}