@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?shlpvk');
  src:  url('../fonts/icomoon.eot?shlpvk#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?shlpvk') format('truetype'),
    url('../fonts/icomoon.woff?shlpvk') format('woff'),
    url('../fonts/icomoon.svg?shlpvk#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu1:before {
  content: "\e900";
 }
.icon-carta:before {
  content: "\e945";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-search:before {
  content: "\e986";
}
.icon-cancel:before {
  content: "\ea0d";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-twitter:before {
  content: "\ea96";
}



body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	background: rgb(13, 13, 13);
}

table {
	margin: 50px;
	width: 100%;
}

th {
	background: #273b47;
	color: white;
	padding: 10px 20px;
	text-align: left;
	font-family: 'Indie Flower', cursive;
	font-size: 25px;
}

td {
	padding: 20px;
	color: #273b47;
	background: white;
}

table, th ,td {
	border-radius: 15px;
	border-collapse: collapse;
}

input, textarea {
	outline: 0;
	margin: auto 10px;
	font-size: 18px;
}

input:focus, textarea:focus {
	background: lightgray
}

.logo {
	margin-top: 30px;
	margin-left: 35px;
	width: 330px;
}

.background {
	background-image: url("../imagenes/1.png");
	background-size: cover;
	padding-bottom: 30px;
}

.contenedor {
	margin: auto;
	margin-left: 35px;
}

.titulo {
	font-family: 'Indie Flower', cursive;
	font-size: 70px;
	margin: 0;
	padding-top: 100px;
	color: wheat;
}

.resumen {
	font-size: 24px;
	margin-top:0;
	color: wheat;
	width: 400px;
	text-align: center;
	padding-top: 25px;
}

.background table { 
	margin-left: 90px;
  position: relative;
  top: 50px;
}

.portada {
	background-color: rgb(13, 13, 13);
	padding-bottom: 50px;
}

.header {
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: 0;
}

.menu li {
	display: inline-block;
	margin-right: 30px;
}

.menu a {
	text-decoration: none;
	color: wheat;
}

.buscador {
	text-align: center;
}

.but1 {
	border-radius: 5px;
	border: none;
	color:white;
	margin-top: 15px;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(to left, wheat, rgb(137, 100, 71) );
	margin-left: 10px;
}

.button1, .button2 {
	border-radius: 5px;
	border: none;
	background: rgb(210,168,117);
	color:white;
	margin-top: 15px;
	padding: 5px;
	font-size: 18px;
	cursor: pointer;
	background: linear-gradient(to left, rgb(210, 168, 117), rgb(137, 100, 71) )
}

.cocteles {
  color: #273b47;
}

.cocteles.contenedor {
	margin-left: 0px;
}

.cocteles h2 {
	font-size: 35px;
	margin-left: 120px;
	background: white;
	border-radius: 15px;
	width: 350px;
	text-align: center;
}

.coctel {
	padding: 20px;
	font-size: 24px;
	border:2px solid #273b47;
	border-radius: 15px;
	overflow: hidden;
	width: 50%;
	margin: auto;
	margin-bottom: 30px;
	background-color: white;
}

.coctel h3 {
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
	margin-top: 0px;
}

.coctel1  {
	float: right;
	position: relative;
 	right: 85px;
 	border-radius: 25%;
}
.coctel2  {
	float: left;
	position: relative;
  	left: 60px;
  	border-radius: 25%;
}

.contenedor1 {
	margin: 80px;
	width: 30%;
}

.contenedor2 {
	margin-left: 50%;
	margin-top: 10%;
	}

.ccs {
	padding-left: 95px;
}

.footer {
	background: #273b47;
	margin-top: 30px;
}

.contacto img {
	display: block;
	padding-top: 50px;
}

.contacto {
	display: flex;
	width: 400px;
	height: 240px;
	flex-wrap: wrap;
}

.contacto strong {
	display: block;
}

.contacto a {
	font-family: 'Montserrat', helvetica;
	font-size: 20px;
	color: white;
	text-decoration:none;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.footer .contenedor {
	display: flex;
	justify-content: space-around;
	margin: auto 20px;
}

.formulario {
	display: flex;
	width: 500px;
	color: white;
}

.formulario label {
	margin-top: 5px;
	margin-bottom: 10px;
}

.formulario input {
	margin-bottom: 15px;
}

.col1, .col2 {
	display: flex;
	flex-direction: column;
}

.col1 {
	margin-right: 15px;
}

.col2 {
	align-items: flex-start;
	margin-top: 60px;
}

.col2 .button {
	margin-top: 15px;
}
.intereses {
	width: 260px;
}

.intereses label {
	font-size: 18px;
}

.cont {
	color: white;
	display: flex;
}

.burguermenu {
	 background: black;
	 color: wheat;
	 border: 1px solid wheat;
	 z-index: 3;
	 width: 30px;
	 height: 30px;
	 line-height: 30px;
	 border-radius:50%;
	 display: none;
	 text-align: center;
}

@media screen and (max-width: 1160px) {
	/*Portada*/
	.logo {
		width: 100%;
		margin: auto;
	}
	.header {
		width: 100%;
		position: static;
		padding-left: 5px;
		text-align: center;
	}
	.buscador {
		margin-bottom: 20px;
		margin-left: 0;
	}
	.but1 {
		margin-top: 5px;
	}
	/*Portada*/
	/*Background*/
	.background {
		max-width: 100%;
	}
	.titulo {
		font-size: 45px;
		padding-top: 30px;
	}
	.resumen {
		font-size: 16px;
	}
	.portada {
		padding-bottom: 0;
	}
	.portada .button1 {
		margin-bottom: 30px;
		display: inline-block;
	}
	/*background*/
	/*Cocteles*/
	.contenedor {
		max-width: 100%;
	}
	.cocteles h2 {
		margin-left: 200px;
	}
	.coctel h3{
		font-size: 40px;
		text-align: center;
	}
	.cocteles ol{
		font-size: 20px;
	}
	/*Cocteles*/
	/*Footer*/
	.footer {
		max-width: 100%;
	}
	.contacto {
		max-width: 100%;
		margin-left: 0px;
		margin-right: 20px;
		text-align: center;
		align-content: center;
	}
	.contacto img {
		max-width: 100%;
		margin: auto;
	}
	.coctel {
		width: 680px;
	}
	.formulario {
		max-width: 100%;
	}
	/*Footer*/
}

@media screen and (max-width: 810px) {
	.header {
		width: 100%;
	}
	.menu li {
		font-size: 18px;
	}
}

@media screen and (max-width: 380px) {
	/*portada*/
	.logo {
 		max-width: 100%;
 	}
 	.header {
 		width: 97%;
 		margin: 20px 0;
 	}
 	.buscador {
 		margin: auto;
 		display: inline-flex;
 	}
 	.but1 {
 		margin: 0;
 	}
 	.burguermenu {
 		display: block;
 	}
 	.menu {
 		border: 1px solid wheat;
 		background: rgba(245, 222, 179, .8);
 		position: absolute;
 		width: 100%;
 		left: -100%;
 		top: 0;
 		right: 0;
 		bottom: 0;
 		z-index: 1;
 		display: flex;
 		align-items: center;
 		transition: .3s;
 	}
 	.menu.active {
 		left: 0;
 	}
 	.menu ul {
 		padding: 0;
 		flex: 1;
 	}
 	.menu li {
	 	padding-bottom: 3px;
 		border-bottom: 1px solid black;
 		text-align: center;
	 	display: block;
	 	width: 100%;
	 }
	 .menu a {
	 	color: black;
	 }
 	/*portada*/
 	/*Background*/
 	.background {
 		max-width: 100%;
 	}
 	.contenedor {
 		margin-left: 20px;
 	}
 	.titulo {
 		font-size: 24.5px;
	}
	.resumen {
		font-size: 12px;
		text-align: left;
		padding-top: 5px;
		width: 190px
	}
	.button1 {
		font-size: 12px;
	}
	/*Background*/
	/*Cocteles*/
	.cocteles h2 {
		font-size: 25px;
		width: 250px;
		margin-left: 32px;
	}
	.contenedor {
		max-width: 380px;
		padding-left: 0;
	}
	.coctel {
		width: 60%;
	}
	.coctel1 {
		height: 133px;
		width: 100px;
		float: none;
		position: static;
		margin: auto;
		display: block;
	}
	.contenedor1, .contenedor2 {
		text-align: center;
		padding: 0;
		margin: 0;
		width: 100%;
	}
	.cocteles ol {
		font-size: 18px;
	}
	.coctel h3 {
		text-align: center;
		font-size: 30px;
		margin: 10px;
	}
	.contenedor1 ol {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.coctel2 {
		float: none;
		position: static;
		width: 100px;
		display: block;
		margin: auto;
	}
	.ccs {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	/*Cocteles*/
	/*Footer*/
	.footer {
		max-width: 100%;
	}
	.footer .contenedor {
		padding-left: 0;
		display: block;
		max-width: 100%;
	}
	.contacto {
		margin: 0 auto;
	}
	.formulario {
		display: block;
		max-width: 100%;
	}
	.col1 .col2 {
		margin: 0 40px;
	}
	.col1 {
		margin-right: 0px;
		font-size: 18px;
	}
	.col1 input {
		zoom: 1.5;
	}
	.intereses{
		width: 190px;
	}		
	.col2 {
		margin-top: 0;
		align-items: stretch;
	}

	/*footer*/
}